.flex {
    display: flex;
    align-items: center;
}

@media (max-width: 576px) {
    .flex {
        align-items: start;
        flex-direction: column;
    }
    .chip {
        margin-right: 0;
        margin-top: 5px;
    }
}

.chip {
    display: inline-block;
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid var(--pico-form-element-border-color);
    background-color: var(--pico-form-element-background-color);
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.chip strong {
	color: var(--pico-form-element-color);
}

.chip .icon {
    border-right: 1px solid var(--pico-form-element-placeholder-color);
    color: var(--pico-form-element-placeholder-color);
    margin-right: 5px;
    padding-right: 5px;
}

.btn {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

.row {
    display: flex;
    margin: 0;
    align-items: center;
}

.room-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room-title .row p {
    margin: 0;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid var(--pico-muted-border-color);
}

.no-underline {
    text-decoration: none;
    color: inherit;
}

.dropdown-button {
	text-align: left;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
}