.flex {
    display: flex;
    align-items: center;
}

@media (max-width: 576px) {
    .flex {
        align-items: start;
        flex-direction: column;
    }
    .chip {
        margin-right: 0;
        margin-top: 5px;
    }
}

.chip {
    display: inline-block;
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid var(--pico-secondary);;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.chip .icon {
    border-right: 1px solid var(--pico-secondary);
    margin-right: 5px;
    padding-right: 5px;
}

.no-underline {
    text-decoration: none;
    color: inherit;
}